@{
    ViewBag.Title = "Images";
}
<h2>@ViewBag.Title.</h2>

<div class="container-fluid">
    <h1>Images of any file type</h1>
    <p>.... "Media/Images" Folder</p>
</div>

<div class="jumbotron">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="" alt="image1">
        <div class="card-body">
            <p>File name</p>
            <button type="button" class="btn btn-warning">Download</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div>

</div>